In [1]:
#Practical Data Structure

In [2]:
# 1. Write a code to create a string with your name and print it. 

name = "Tushar Chauhan"
print(name)

Tushar Chauhan

In [4]:
# 2.  Write a code to find the length of the string "Hello World". 

s = "Hello World"

print(len(s))

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming". 

s = "Python Programming"

s[0:3]

'Pyt'

In [7]:
# 4. Write a code to convert the string "hello" to uppercase. 

s = "hello"

print(s.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple". 

s = "I like apple"

print(s.replace("apple","orange"))

I like orange

In [11]:
# 6. Write a code to create a list with numbers 1 to 5 and print it. 

l = [1,2,3,4,5]

print(l)
type(l)

[1, 2, 3, 4, 5]

list

In [18]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]. 

l = [1,2,3,4]
l.append(10)

print(l)

[1, 2, 3, 4, 10]

In [19]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]. 

l = [1,2,3,4,5]
l.remove(3)

print(l)

[1, 2, 4, 5]

In [20]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']. 

l = ['a', 'b', 'c', 'd']

l[1]

'b'

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]. 

l = [10, 20, 30, 40, 50]

l[::-1]

[50, 40, 30, 20, 10]

In [40]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it. 

t = (100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [41]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'). 

t = ('red', 'green', 'blue', 'yellow')
t[1::]

('green', 'blue', 'yellow')

In [43]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15). 

t = (10, 20, 5, 15)
min(t)

5

In [45]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'). 

t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [51]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it. 

t = ('apple','mango','orange')

if 'kiwi' in (t):
    print("Kiwi is in the tuple")
else:
    print("It is not in the tuple")

It is not in the tuple

In [53]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it. 

s = {'a','b','c'}
print(s)
type(s)

{'b', 'a', 'c'}

set

In [57]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1,2,3,4,5}
s.clear()
s

set()

In [59]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}. 

s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [60]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}. 

s1 = {1,2,3}
s2 = {3,4,5}

s1|s2

{1, 2, 3, 4, 5}

In [61]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. 

s1 = {1, 2, 3}
s2 = {2, 3, 4}

s1&s2

{2, 3}

In [67]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it. 

d = {"Name": "Tushar Chauhan", "age": 21, "city": "Noida"}
print(d)
type(d)

{'Name': 'Tushar Chauhan', 'age': 21, 'city': 'Noida'}

dict

In [73]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. 

d = {'name': 'John', 'age': 25}
d["country"] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [78]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}. 

d = {'name': 'Alice', 'age': 30}

d['name']

'Alice'

In [84]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}

d.pop('age')
d

{'name': 'Bob', 'city': 'New York'}

In [85]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}. 

d = {'name': 'Alice', 'city': 'Paris'}

if "city" in d:
    print("Yes it is there")
else:
    print("No its not there")

Yes it is there

In [91]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all. 

my_list = [1,2,3,4,5]
my_tuple = ('apple','mango','ornage')
my_dict = {'name': 'Aman', 'age': 21}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
('apple', 'mango', 'ornage')
{'name': 'Aman', 'age': 21}

In [101]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced) 

l = [45,89,12,4,21]

l.sort()
l

[4, 12, 21, 45, 89]

In [103]:
# 28. Write a code to create a list with strings and print the element at the third index. 

l = ["one","two","three","four","five"]
print(l[3])

four

In [108]:
# 29.  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict3 = [dict1, dict2]

dict3

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [109]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}